<%-include('../partials/header')%>
    <link rel="stylesheet" href="/campground/show.css">
    </head>

    <body style="background:url('<%=campground.image%>') no-repeat center center / cover ;">
        <%-include("../partials/nav") %>

            <div id="main">
                <button class="openbtn ui button teal" onclick="openNav()">☰ Related Blogs</button>
            </div>
            <div class="container">
                <div class="ui segment raised placeholder main text mb-5 bord raised link card mt-5" style="width:100% !important">

                    <div class="ui top attached huge header center aligned block">
                        <%=campground.name%>
                    </div>
                    <div class="ui attached segment">
                        <div class="ui label teal ribbon ribo mb-3">
                            <%=campground.location %>
                        </div>
                        <div class="item">
                            <img src="<%=campground.image%>" class="ui image centered rounded img-main">
                            <div class="sub header left aligned" style="text-decoration: underline">
                                <span></span>
                            </div>

                            <div class="description" style="overflow: hidden">
                                <p class="text">
                                    <%=campground.description%>
                                </p>
                            </div>
                            <div class="footer">
                                <button class="btn btn-outline-success btn-lg mx-1 mt-3" id="comment">Comments</button>
                                <%if(campground.author.id.equals(currentUser._id)){ %>

                                    <a href="/campgrounds/<%=campground._id%>/edit" class="btn btn-outline-primary btn-lg mt-3">Edit</a>
                                    <form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST" id="delete">
                                        <button class="btn btn-outline-danger btn-lg mx-1 mt-3">Delete</button>
                                    </form>
                                    <% } %>
                                        <div class="float-right my-3" style="display:inline">
                                            Posted By
                                            <div class="ui teal label my-auto py-2" style="font-size: 1rem;">
                                                <%=campground.author.username%>
                                            </div>
                                        </div>
                            </div>
                        </div>
                    </div>

                    <!-- Comment Section -->
                    <div class="ui bottom attached segment" id="cmntsec" style="display:none">
                        <h3 class="ui dividing header">Comments</h3>
                        <form action="/campgrounds/<%=campground._id%>" method="POST" class="form-inline my-3">
                            <div class="ui input icon left m-0" style="width:55%">
                                <input type="text" name="comment[text]" required placeholder="Type Your Comment...">
                            </div>
                            <button class="ui button teal ml-2">Post</button>
                        </form>
                        <div class="ui comments">
                            <%campground.comments.forEach(function(comment){%>
                                <div class="comment">
                                    <%if(comment.author.gender=="male"){%>
                                        <a class="avatar">
                                            <img src="/media/male-avatar-profile-icon-round-african-american-vector-18307210.jpg">
                                        </a>
                                        <%}else{ %>
                                            <a class="avatar">
                                                <img src="/media/female-avatar-profile-icon-round-african-american-vector-18307279.jpg">
                                            </a>
                                            <%}%>

                                                <div class="content">
                                                    <a class="author">
                                                        <%=comment.author.username%>
                                                    </a>
                                                    <div class="metadata">
                                                        <span class="date"><%=comment.created.toDateString()%></span>
                                                    </div>
                                                    <div class="text">
                                                        <%=comment.text %>
                                                    </div>

                                                    <!-- Actions -->
                                                    <%if(campground.author.id.equals(currentUser._id)){ %>
                                                        <div class="actions">
                                                            <a class="reply edit-cmnt">Edit</a>
                                                            <form action="/campgrounds/<%=campground._id%>/<%=comment._id%>?_method=DELETE" method="POST" style="display: inline !important">
                                                                <button class="reply delete_cmnt ml-0">Delete</button>
                                                            </form>

                                                            <!-- Edit Comment form -->
                                                            <form action="/campgrounds/<%=campground._id%>/<%=comment._id%>?_method=PUT" method="POST" style="display:none" class="form-inline my-3 edit-form">
                                                                <div class="ui input icon left m-0" style="width:55%">
                                                                    <input type="text" name="comment[text]" value="<%=comment.text%>">
                                                                </div>
                                                                <button class="ui button small  teal ml-2">Post</button>
                                                            </form>

                                                        </div>
                                                        <%} %>

                                                </div>
                                </div>
                                <% }); %>
                        </div>
                    </div>

                </div>
            </div>
            <div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                <%if(blogs){ %>

                    <%blogs.forEach(function(blog){%>
                        <a href="/blogs/<%=blog._id%>">
                            <div class="ui link raised card">
                                <div class="ui image related-blogs-img">
                                    <img src="<%=blog.image%>" alt="">
                                </div>
                                <div class="content p-2">
                                    <div class="title">
                                        <%=blog.title%>
                                    </div>
                                    <div class="description rel-blog">
                                        <%-blog.body.substring(0,70)%>...<span class="text-primary">Read More<span>
                                    </div>
                                    <div class="ui label teal float-right rel-label"><%=blog.author.username%></div>
                                </div>
                            </div>
                        </a>
                        <% }); %>

                            <%}%>
            </div>
            <%-include("../partials/footer")%>
                <script>
                    //Sidebar
                    function openNav() {
                        document.getElementById("mySidebar").style.width = "250px";
                        document.getElementById("main").style.marginLeft = "250px";
                    }

                    function closeNav() {
                        document.getElementById("mySidebar").style.width = "0";
                        document.getElementById("main").style.marginLeft = "0";
                    }
                    $("#comment").on('click',function(ev){
                        $("#cmntsec").slideToggle();
                    });
                    $(".edit-cmnt").click(function(){
                        $(this).siblings('.edit-form').fadeToggle();
                    });
                </script>
    </body>

    </html>